{{#view App.DraggableView}}

    {{! again here use the editMode property to switch class names between "shown" and "hidden" }}
    <div {{bindAttr class=":user-edit :pane controllers.user.editMode:shown:hidden"}}>
        <div class="tools">
            <button class="icon-arrow-left blue fleft btn-mobile" {{action "closeUserWithTransition" target="view"}}></button>
        </div>
        
        <div class="line">
            <h3>Edit user</h3>
        </div>
        <div class="line">
            <label for="avatarUrl">Choose user avatar</label>
            {{input value=avatarUrl}}
        </div>
        <div class="line">
            <label for="name">User name</label>
            {{input value=name}}
        </div>
        <div class="line">
            <label for="email">User email</label>
            {{input value=email}}
        </div>
        <div class="line">
            <label for="bio">User short bio</label>
            {{textarea value=bio}}
        </div>
        <div class="aright">
            <button class="blue btn-desktop" {{action "save"}} title="save"> ok </button>
            <button class="blue btn-mobile" {{action "saveWithTransition" target="view"}} title="save"> ok </button>
        </div>
    </div>

{{/view}}