<div class="user-create pane flipin">
    <div class="line">
        <h3>Add a new user</h3>
    </div>
    <div class="line">
        <label for="avatarUrl">Choose user avatar</label>
        {{view Ember.TextField valueBinding="avatarUrl"}}
    </div>
    <div class="line">
        <label for="name">User name</label>
        {{view Ember.TextField valueBinding="name"}}
    </div>
    <div class="line">
        <label for="email">User email</label>
        {{view Ember.TextField valueBinding="email"}}
    </div>
    <div class="line">
        <label for="bio">User short bio</label>
        {{view Ember.TextArea valueBinding="bio"}}
    </div>
    <div class="line">
        <button class="blue fright" {{action addUser}}>add user</button>
    </div>
    {{partial faces}}
</div>
