{{! this is the users template (associated with the usersRoute and the usersController) }}
{{! naming conventions are VERY important in Ember }}
<div {{bindAttr class=":main controllers.user.editMode:editing"}}>

    <div class="tools">
        {{! the createUser event will handle every thing and is located in the usersRoute}}
        <a href="#" {{action createUser}} class="button blue create-btn">
            <i class="icon-plus"></i><span>⬅ Add user</span>
        </a>
    </div>

    <ul class="users-listing">

        {{! this is our users loop, here controller is usersController }}
        {{#each user in controller}}
        <li>
            {{! linkTo are <a> tags and Ember handles for us the "active" class when clicking on it }}
            {{! basically here it means user.name will be surrounded by <a href="user/user_id">user.name</a> }}
            {{! http://emberjs.com/guides/templates/links/#toc_links-the-code-linkto-code-helper }}
            {{! http://emberjs.com/api/classes/Ember.Handlebars.helpers.html#method_linkTo }}
            {{#linkTo "user" user class="fadein"}}
                {{user.name}}
            {{/linkTo}}
        </li>
        {{else}}
            <li>no users… :(</li>
        {{/each}}

    </ul>

    {{! see the linkTo tag a few lines above? This outlet will host views reached by clicking on it (the linkTo tag) }}
    <div class="user-pane">
        {{outlet}}
    </div>

</div>

<a href="#" class="about-this-demo icon-eye" {{action showModal "modal-demo"}}>About this demo</a>