{{! this is the users template (associated with the usersRoute and the usersController) }}
<div class="main">

    <div class="tools">
        {{#link-to "users.create" class="button blue create-btn"}}
            <i class="icon-plus"></i><span>⬅ Add user</span>
        {{/link-to}}
        
        <div class="users-count">Users: {{usersCount}}</div>
    </div>

    <ul class="users-listing">

        {{! this is our users loop, here controller is usersController }}

        {{#each user in controller}}
            <li>
                {{#link-to "user" user class="fadein"}}
                    {{user.name}}
                {{/link-to}}
            </li>
        {{else}}
            <li class="no-users-yet">no users… :(</li>
        {{/each}}

    </ul>

    {{! see the link-to helper a few lines above? this outlet will host views reached by clicking on it (the link-to tag) }}
    <div class="user-pane">
        {{outlet}}
    </div>

</div>

{{! this is the modal trigger, the action takes two arguments, first the action name, second the template name of the desired modal }}
{{! the showModal action is in the ApplicationRoute }}
<a href="#" class="about-this-demo icon-eye" {{action "showModal" "modal-demo"}}>About this demo</a>