{{! the DraggableView behaviors are enabled in the mobile version }}
{{#view App.DraggableView}}

    {{! "user-profile" and "pane" are static class names }}
    {{! if "editMode" is true, "scaleout" will be printed }}
    {{! if "editMode" is false, then "scalein" will be printed }}
    {{! http://emberjs.com/guides/templates/binding-element-class-names/#toc_binding-to-boolean-values }}
    <div {{bindAttr class=":user-profile :pane editMode:scaleout:flipin"}}>
        <div class="tools aright">
            <button {{bindAttr class=":icon-arrow-left :blue :fleft :btn-mobile"}} {{action "closeUserWithTransition" target="view"}}></button>
            <button {{bindAttr class=":icon-trashcan :red deleteMode:active"}} {{action "delete"}} title="delete"></button>
            {{#link-to 'user.edit' }}<button {{bindAttr class=":icon-pencil editMode:active"}} title="edit"></button>{{/link-to}}
        </div>

        {{confirm-box action="confirmDelete" param=user isVisible=deleteMode}}

        <div class="img"><img {{bindAttr src="avatarUrl"}}></div>
        <h2>{{name}}</h2>
        <address>{{email}}</address>
        <p class="bio">{{bio}}</p>
        {{! the date is formated by the formatDate helper - see helpers.js file }}
        <span class="date">Created {{formatDate creationDate}}</span>

        {{! partials are a good way to clean a bit the code, think of it as includes in php }}
        {{! remember to start partials name by a _ }}
        {{partial faces}}
    </div>
    
{{/view}}

{{outlet}}
